{% block body %}
    <a href="{{ path('libro_nuevo') }}" class="btn btn-primary mb-3">Registrar nuevo libro</a>
    <table border="3px">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Año de Publicacion</th>
                <th>Nº de Paginas</th>
                <th>Editorial</th>
            </tr>
        </thead>
        <tbody>
        {% for libro in libros %}
            <tr>
                <td><a href="/libro/autores/{{ libro.id }}">{{ libro.titulo }}</a></td>
                <td>{{ libro.paginas }}</td>
                <td>{{ libro.anioPublicacion }}</td>
                <td>{{ libro.editorial.nombre }}</td>
                <td>
                    <a href="{{ path('libro_modificar', {id: libro.id}) }}">
                        <i class="fas fa-pencil-alt"></i> {# Icono lápiz (FontAwesome) #}
                    </a>
                    <a href="{{ path('libro_eliminar', {id: libro.id}) }}">
                        <i class="fas fa-trash"></i> {# Icono papelera #}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}